---
import Layout from '../../layouts/Layout.astro';
import AboutSection from '../../components/about-section.astro';
import FoundersSection from '../../components/founders-section.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('title.about')}>
  <section class="bg-gradient-to-r from-[#0d1c9a] to-[#00a6ed] text-white min-h-screen">
    <div class="container mx-auto px-4 py-16">
      <h1 class="text-4xl font-bold text-center mb-8">{t('about.title')}</h1>
      <p class="text-lg text-center mb-12">{t('about.description')}</p>
      <AboutSection />
      <hr class="border-t border-white my-8 w-1/2 mx-auto">
      <FoundersSection />
    </div>
  </section>
</Layout>