---
import Planet3D from './Planet3D.astro';
---

<div class="title__section flex flex-col min-h-screen relative overflow-hidden">
	<Planet3D />
	<main class="flex-grow flex flex-col items-center justify-center text-center relative z-10">
		<h1 class="text-6xl font-bold mb-4">Pr Wave</h1>
		<p class="text-xl">This is the main section of the page.</p>
	</main>
</div>
