---
import Planet3D from './Planet3D.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="title__section flex flex-col min-h-screen relative overflow-hidden">
	<Planet3D slot="head-content" />
	<main class="flex-grow flex flex-col items-center justify-center text-center relative z-10">
		<h1 class="text-6xl font-bold mb-4">{t('head.content')}</h1>
		<p class="text-xl">{t('head.description')}</p>
	</main>
</div>
